@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    background-color: #000;
    /* z-index: -1; */
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Square Peg', cursive;
    font-family: 'Roboto', sans-serif;

   
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
}
.left-para{
    font-size: 2rem;
}
.rag{
    color: rgb(248, 73, 73);
}
.hal{
    color: rgb(49, 49, 255);
}
ul li{
    display:inline-block;
    font-size: 1.11rem;
    padding: 2rem;
}
header{
    /* position: sticky; */
    /* top: 0; */
    
    display: flex;
    /* background-color: #000; */
    align-items: center;
    justify-content: space-between;
}
ul li a{
    text-transform: uppercase;
    
}
ul li a::after{
    content: "";
    border-bottom: 2px solid white;
    display: block;
    padding-bottom: 10px;
    width:0;
    opacity:0;
    
}
ul li a:hover{
    border-bottom: 2px;
    color:red;
    width: 100%;
    transition: all 0.5s ease-in-out ;
}ul li a:hover::after{
    opacity: 1;
    width: 90%;
    transition: width 0.5s ease-in-out;
}
/* @media screen (max-width:1100px){
    header{
        /* width: 100vw; */
        
.main{
    /* background-color: #000; */
    margin-top: 5rem;
    /* border:2px solid red; */
    display: flex;
    /* width: 100vw; */
    align-items:center;
    justify-content:space-evenly;
}
.raghav{
    text-align: center;
    /* border: 3px solid green; */
    font-size: 1.25rem;
    /* margin:  ; */
}
.know-text{
    line-height: 40px;
}
.yep{
    font-size: 2rem;
}
.linkedin{
    margin-top: 25px;
    font-size: 24px;
    color: black;
    border: 2px solid black;
    background-color: white;
    transition: all 0.5s ease-in-out;
    /* margin-left: 40%; */
}
.linkedin:hover{
    background-color: red;
}
.know{
    /* background-color: #000; */
    /* border: 2px solid white; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.aboutme{
    /* background-color: #000; */
    margin-top: 8rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-evenly;

}
.aboutme .about{
    /* border: 2px solid whitesmoke; */
    height: 400px;
    
}
h3{
    margin-top: 0.5rem;
}
    /* text-align: center; */

.hii{
    /* background-color: #000; */
    /* line-height: 25px; */
    display: flex;
    /* border:2px solid red ; */
    align-items: center;
    justify-content:center;
    width: 500px;
    /* height:=; */

   
}
.world{
    /* background-color: #000; */
    font-size: 1.2567rem;
    line-height: 35px;

}
.heo{
    
    /* border: 2px solid red; */
    font-size: 1.44rem;
    background-color: red;
    border-radius: 25px;
    width: 180px;
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: all 0.35s ease-in-out;
    
    
}
.talk{
    /* background-color: #000; */
    margin-top:0.25rem;
    /* border: 2px solid gray; */
    text-align: center;
    display:flex;
    
    /* align-items:center; */
    /* justify-content:center; */
    

}
.heo:hover{
    background-color:white;
    color: black;
}
.can h2{
    text-align: center;
    margin-top: -45px;
    /* color: black; */
    /* background-color: white; */
}
.skills{
    /* background-color: #000; */
    margin-top: 1.2rem;
    /* border: 2px solid red; */
    display:flex;
    align-items:center;
    justify-content:space-around;
    /* background-color: white; */

    
}
.web{
    /* border: 2px solid blue; */
    /* flex-basis: 35%; */
    width: 400px;
    /* background-color: white; */
    /* flex-basis: 60%; */
}
.edit{
    /* border: 2px solid red; */
    /* background: green;   */
    width: 400px;
}
.app-developer{
    /* border: 2px solid green; */
    /* flex-basis: 30%;
    
    */
    width: 400px;
}
.can h4{
    font-size: 1.25rem;
}
.can{
    /* background-color: #000; */
    height: 250px;
    /* border: 2px solid lightgray; */
    /* background-color: green; */
    margin-top: 8rem;
}

.contact{
    /* background-color: #000; */
    
    /* border:2px solid red; */
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content:center; */
    /* align-items: center; */
    margin-top: 2rem;
    /* background-color: reset; */
    
}
.connected{
    /* background-color: #000; */
    text-align: center;
    /* font-size: ; */
    margin-top: 2rem;
}
.haaa{
    /* background-color: #000; */
    display:flex;
    /* text-align: center; */
    flex-direction:column;
    margin-bottom: 2rem;
    margin-left: 50%;
    margin-top: 2rem;
    transform: translate(-80%, -0%);
}
input{
    margin-bottom: 2rem;
    width: 50%;
    color:#000;
    font-size: 24px;
    z-index: 24;

    background-color: #b2bfcf;
}
.eoh{
    width: 20%;
    margin-top: 1.25rem;
}
.footer{
    /* border:2px solid red; */
    text-align: center;
    /* width:100vw; */

}
.footer h2{
    text-align: center;
}
.footer p{
    margin-top: 1rem;
    text-align:center;
    font-size: 1.018;
}
.fab{
    margin-top: 18px;
    padding:14px;
}
@media (max-width:1176px) {
    header{
        /* position: fixed; */
        display: block;

    }
    .main{
        display: flex;
        /* align-items:center; */
        flex-direction: column;
        width: 100vh;
    }
    .aboutme{
        font-size:16px;
        display: flex;
        /* align-items:center; */
        flex-direction:column;
    
    }
    
}

@media (max-width: 994px) {
    ul li{
        display:block;
        text-align: center;
    }
    
}
@media (max-width: 1178px){
    header{
        /* position:absolute; */
        font-size: 18px;
        width: 100vw;
    }
}
@media (max-width:1022px ){
   .skills {
    display:flex;
    flex-direction:column;
    align-items:center;
    }
    .haaa{
        margin-top: ;
    }
    .connected{
        margin-top: 14rem;
    }
}
@media (min-width:300px ) and (max-width: 825px){
    .skills{
        /* padding-bottom: 45px; */
    }.eoh{
        /* font-size:11px; */
        display:block;
        width:100%;
        text-align:center;
        justify-content:center;
    }
    .main{
        width:100vw;
    }
    .aboutme, .about{
        width: 100%;
    }
    .world{
        width:100vw;
    }
}
@media (max-width: 1263px){
    .world{
        width: 50%;
    }
    .about-para{
        width:50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-left: 84px; */
    }
}
.about-photo{
    width: ;
}
